body {
  background: url("/images/header1.png") no-repeat top center;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 100%;
  height: 560px;
  margin: 0;
  color: #000000;
  padding: 0;
}

.clear {
  clear: both;
}

#header {
  margin-top: -20px;
}

#header .table {
  background-color: #121212;
  width: 100%;
  margin: auto;
}

#header .table .cell:nth-child(1) {
  padding-left: 40px;
  text-align: left;
}

#header .table .cell:nth-child(4) {
  padding-right: 40px;
  text-align: right;
}

#header .table .cell:nth-child(2) {
  width: 268px;
  padding-right: 0;
  text-align: center;
}

#header .table .cell:nth-child(3) {
  width: 48px;
  padding: 0;
  text-align: left;
}

#header a {
  color: #fff;
  text-decoration: none;
  font-size: 100%;
  transition: all 0.5s;
}

#header p {
  color: #fff;
}

#header img {
  position: absolute;
  margin-top: 17px;
  margin-left: 10px;
}

#header a:hover {
  color: #c00c10;
}

#main .image img {
  width: 100%;
}

.table {
  display: table;
  margin: auto;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.right {
  float: right;
}

#main h1 {
  margin: 0 0 10px 0;
  font-size: 45px;
}

#main h2 {
  color: #333333;
  margin: 10px 0 20px 0;
  font-size: 150%;
  text-align: center;
}

#main section {
  text-align: center;
  background: linear-gradient(20deg, #f4f8fc 0%, #e4ebf3 50%, #d7e1ef 100%);
  padding: 30px 30px 40px 30px;
  border-radius: 80px 0px 80px 0px;
}

#main section p {
  font-size: 120%;
  color: #424344;
  margin: 5px 0;
}

#main .active_sunglasses {
  background-color: #000000;
  border-radius: 50px;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 49px;
  font-weight: 600;
  width: 250px;
  height: 49px;
  transition: 0.6s all;
}

#main .active_eyeglasses {
  background-color: #000000;
  border-radius: 50px;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 49px;
  font-weight: 600;
  width: 250px;
  height: 49px;
  height: 49px;
  transition: 0.6s all;
}

#main .right {
  margin-top: 95px;
  padding-right: 40px;
}

#main .table {
  margin-top: 20px;
}

#main .table .cell {
  padding: 0 10px;
}

.show_active {
  background-color: #cc0000 !important;
}

.hide_active {
  background-color: #000000;
}

#main .prescription {
  background: rgba(253, 253, 253, 0.7);
  border-radius: 60px 0px 60px 0px;
  margin-top: 20px;
  padding-bottom: 20px;
}

#main .prescription h5 {
  color: #333333;
  font-weight: bold;
  margin: 0;
  font-size: 90%;
}

#main .prescription p {
  margin: 0;
  font-size: 90%;
}

#main .payments p {
  margin-top: 5px;
}

#main .payments .table .cell,
#main .returns .table .cell {
  padding: 0;
}

#main .prescription .table {
  margin-top: 0;
  padding-top: 20px;
}

#main .prescription .table .cell {
  vertical-align: top;
  text-align: center;
}

#main .payments {
  width: 187px;
  height: 88px;
}

#main .five_stars p {
  font-weight: bold;
}

#main .returns p {
  font-weight: bold;
}

#main .five_stars,
#main .returns {
  width: 168px;
  height: 88px;
}

#main .padding_right {
  padding-left: 10px !important;
}

#main .top {
  margin-top: 8px;
}

#main .top_center {
  margin-top: 10px;
}

#main .payments,
#main .five_stars,
#main .returns {
  background-color: #ffffff;
  border-radius: 10px;
}

#main .carry {
  margin-top: 295px;
}

#main .carry img {
  max-width: 100%;
}

#main .carry .text {
  margin: 15px 0 0;
  font-size: 140%;
}

#main .carry .table .cell {
  vertical-align: top;
  padding: 0 20px;
}

.removeslide {
  display: none;
}

.remove {
  margin-right: 200px;
}

.trasform {
  width: 1000px !important;
  height: 300px;
}

.show_slider {
  position: relative;
}

.swiper .slide_single {
  width: 250px;
}

#main .content-card p {
  color: #23263b;
}

#main .content-card figcaption {
  color: #333333;
}

#main .content-card a {
  text-decoration: none;
}

#main .content-card a:hover figcaption {
  color: #23527c;
  text-decoration: underline;
}

#main .slide_left,  .slide_eyeglasses_left {
  background: url("/images/button_left.png") no-repeat left;
  text-align: center;
  cursor: pointer;
  margin: auto;
  height: 24px;
  width: 24px;
}

button {
  border: none;
}

#main .slide_left:hover {
  background: url("/images/min_button_left.png") no-repeat left;
}

#main .slide_right:hover {
  background: url("/images/min_button_right.png") no-repeat right;
}

#main .slide_right, .slide_eyeglasses_right {
  background: url("/images/button_right.png") no-repeat right;
  cursor: pointer;
  margin: auto;
  height: 24px;
  width: 24px;
}

#main .center {
  width: 100px;
  margin: auto;
}

#main .table button {
  border: none;
}

#main .active_button {
  margin-top: -5px;
}

#main .active_button .cell {
  vertical-align: top;
  padding: 0 5px;
}

#main .active_button .count {
  margin-top: 3px;
}

#main .active_button span {
  font-size: 90%;
}
* {
  box-sizing: border-box;
}

.content {
  max-width: 1386px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  padding-right: 40px;
  margin-top: 70px;
}

.swiper {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.swiper-slide {
  grid-column: 4 span;
}

.content-card {
  width: 301px;
  height: 250px;
}

.clear {
  clear: both;
}

.button {
  margin-top: 400px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
}

#main .content-card img:nth-child(1) {
  position: absolute;
  transition: all 0.5s;
}

#main .content-card img:nth-child(1):hover {
  opacity: 0;
}

.hide_slide {
  opacity: 1;
}

#main .content-card .size {
  height: 125px;
}

#topmenu .eyeglasses {
  display: none;
}

#topmenu {
    position: relative;
    background-color: #fff;
    height: 50px;
    width: 100%;
    margin-top: -23px;
}

#topmenu .logo {
  margin-top: -57px;
}

#topmenu .center_header {
    display: none;
}



#topmenu  .top_hover {
    margin-top: 300px;
}

header {
    position: relative;
}

#topmenu .menu {
  padding: 15px 0 0;
  margin: 23px 0 0;
  list-style: none;
}

#topmenu .menu li {
  background: url("/images/topmenu_link+hover.png") no-repeat top 70% right;
  padding-right: 20px;
  float: left;
  margin-left: 10px;
 
}

#topmenu .menu li:hover {
  background: url("/images/topmenu_link_red.png") no-repeat bottom right;
  padding-right: 20px;
}

#topmenu .menu li:last-child {
  background: none;
}

#topmenu .menu li a:hover {
  color: #d60000;
}

#topmenu .menu li a {
  font-size: 95%;
  color: #666666;
  text-decoration: none;
}

#topmenu .logo .cell:nth-child(2) {
  vertical-align: top;
}

#topmenu .logotype {
    float: left;
  margin-top: 5px;
  margin-right: 25px;
}

#topmenu .hover_brands {
  display: none;
  border: 1px solid #eaeaea;
  background-color: #fff;
  position: absolute;
  width: 96%;
  z-index: 100;
  margin: 0 auto;
}

#topmenu .hover_brands .table {
  width: 100%;
}

#topmenu .hover_brands .table .cell {
  padding: 0 5px;
}
#topmenu .hover_brands ul {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}

#topmenu .hover_brands ul li {
  background: none;
  margin-bottom: 10px;
  float: none;
}

#topmenu .hover_brands ul li:hover {
  background: none;
}

#topmenu .hover_brands ul li a {
  font-size: 90%;
  color: #222222;
  text-decoration: none;
}

#topmenu .hover_brands ul li a:hover {
  color: #cc0000;
}

#topmenu .hover_brands h5 {
  margin-top: 0;
}

#topmenu .hover_brands img {
  max-width: 100%;
}

#topmenu .hover_brands p {
  text-align: center;
  margin-top: 40px;
}

#topmenu .hover_brands figcaption {
    color: #333333;
  margin-top: 40px;
}

#topmenu .hover_brands .last {
  vertical-align: middle;
}

#topmenu .hover_brands .content_card a:hover {
  color: #333333;
}

#topmenu .hover_brands .content_card img {
    transition: all 0.8s;
}

#topmenu .hover_brands .content_card img:hover {
    max-width: 110% !important;
}


#topmenu .right {
  float: right;
  margin-top: -23px;
}

#position {
  width: 980px;
  margin: auto;
}

#bg_search {
  
  background-color: #fff;
  display: none;
  background-color: #fff;
  margin-top: 51px;
  height: 50px;
  width: 100%;
  position: absolute;
  z-index: 300;
}



#search {
  width: 894px;
 padding-left: 130px;
}

#search input[type="text"] {
  outline: none;
  border: 1px solid #8f8f8f;
  padding-left: 10px;
  float: left;
  width: 740px;
  height: 48px;
}

#search input[type="submit"] {
  background: url("/images/search.png") no-repeat right;
  height: 24px;
  width: 24px;
  margin: -36px 34px 10px 0px;
  cursor: pointer;
  border: none;
  float: right;
}

#close_search {
  cursor: pointer;
  margin: 12px 0px 10px 751px;
  position: absolute;
}

#main  .shop_Sunglasses{
  background-color: #000;
  border-radius: 30px;
  text-decoration: none;
  line-height: 50px;
  color: #fff;
  display: block;
  text-align: center;
  width: 420px;
  height: 50px;
  margin: auto;
  transition: all 0.5s;
  margin-top: 20px;
  margin-bottom: 20px;
}

#main  .shop_Sunglasses:hover {
  background-color: #cc0000;
}

.count_2 {
  margin-top: 5px;
}

.slide_3 .cell {
  vertical-align: top;
}

.content_slide_3 {
  max-width: 1219px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  padding-right: 40px;
}

.content_slide_3 a {
  text-decoration: none;
}

.content_slide_3 a:hover figcaption {
  text-decoration: underline;
  color: #23527c;
}

.content_slide_3 figcaption {
  color: #333333;
}

.content_slide_3 p {
  color: #23263b;
}

.shop_eyeglasses {
  background-color: #000;
  border-radius: 30px;
  text-decoration: none;
  line-height: 52px;
  color: #fff;
  display: block;
  text-align: center;
  width: 500px;
  height: 50px;
  margin: auto;
  transition: all 0.5s;
  margin-top: 20px;
  margin-bottom: 35px;
}

.shop_eyeglasses:hover {
  background-color: #cc0000;
}

#lenses {
  background-color: #000;
  padding: 20px;
}

#lenses section {
  margin: 65px 40px 0px 25px;
}

#lenses .table .cell:nth-child(1) {
  background-color: #fff;
}

#lenses h3 {
  color: #7b7d7b;
  font-weight: normal;
  font-size: 180%;
}

#lenses p {
  color: #4d4d4d;
}

#lenses img {
  max-width: 100%;
}

#lenses .table .cell {
  vertical-align: top;
}

#lenses a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  line-height: 48px;
  border-radius: 20px;
  display: block;
  text-align: center;
  margin-top: 30px;
  height: 50px;
  width: 250px;
  transition: all 0.3s;
}

#lenses a:hover {
  background-color: #cc0000;
}

#articles ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#articles ul li {
  margin-bottom: 20px;
}

#articles h5 {
  color: #333333;
  font-size: 95%;
  margin-bottom: 10px;
}

#articles p {
  font-size: 90%;
  color: #4d4d4d;
}

#articles .table {
  margin-top: 70px;
}

#articles .table .cell {
  padding: 0 20px;
}

#newsletter {
  background-color: #c00c10;
  padding: 40px 0;
  margin-top: 70px;
}

#newsletter img {
  margin-right: 2px;
  width: 20px;
  height: 20px;
}

#newsletter .table .cell {
  padding: 0 20px;
  vertical-align: top;
}

#newsletter .table .cell:nth-child(2) {
  padding-right: 5px;
}



#newsletter .send_email {
  width: 430px;
}

#newsletter .send_email input[type="email"] {
  border: none;
  border-radius: 5px 0 0 5px;
  color: #000000;
  outline: none;
  float: left;
  width: 350px;
  padding-left: 10px;
  height: 35px;
}

#newsletter .send_email input[type="submit"] {
  background-color: #000;
  width: 80px;
  height: 35px;
  font-size: 120%;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  float: right;
}

#newsletter h4 {
  font-size: 120%;
  margin: 0 0 10px;
  color: #fff;
}

#newsletter p {
  color: #fff;
  font-size: 90%;
  margin: 0;
}

#newsletter a {
  text-decoration: none;
}

footer {
  background-color: #222529;
  padding-top: 60px;
  height: 508px;

}

footer .table .cell {
  padding: 0 40px;
  vertical-align: top;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 10px;
}

footer p {
  color: #999999;
  font-size: 90%;
}

footer a {
  font-size: 90%;
  text-decoration: none;
  color: #8c8c8d;
}

footer a:hover {
  color: #fff;
}

footer h6 {
  color: #fff;
  margin: 0 0 30px;
  font-size: 100%;
}

footer .phone, footer .working, footer .week {
  margin: 10px 0;
  color: #fff;
}

footer .phone {
  margin-bottom: 5px;
}

footer .working {
  margin-bottom: 0;
}

footer .last {
  display: block;
  margin: 0px 0 20px;
}

footer .left {
  margin-left: 50px;
}

footer .right {
  margin-right: 50px;
}

footer .sitemap li {
  float: left;
  margin-right: 10px;
}

footer .card {
  border-top: 1px solid #999999;
  padding: 10px  0 10px;
  margin-top: 40px;
}


footer .card p {
  margin: 0;
  color: #777777;
}

footer .sitemap {
  position: absolute;
}

footer .card img {
  width: 45px;
  height: 45px;
}

footer .card li {
  float: left;
  margin-right: 5px;
}

@media (max-width: 1100px) {
  .slider-2 .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }
}

@media (max-width: 3500px) {
  .slider-2 .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }
}

@media (max-width: 1280px) {
  .slider-1 .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }
}

@media (max-width: 1030px) {
  .slider-1 .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }
}

@media screen and (max-width: 740px) {
  #main {
    display: flex;
  }

  #main .right {
    padding-right: 0;
    margin: 40px auto;
  }
}

@media screen and (max-width: 659px) {
  #main section {
    padding: 20px 0px 30px 0px;
  }

  #main h1 {
    font-size: 30px;
  }

  #main .returns p {
    margin-top: 10px;
  }

  #main h2 {
    font-size: 100%;
  }

  #main .active_sunglasses {
    width: 180px;
    font-size: 90%;
  }

  #main .padding_right {
    padding-left: 0 !important;
  }

  #main .top {
    margin-left: 8px;
    margin-top: 15px;
  }

  #main .active_eyeglasses {
    width: 180px;
    font-size: 90%;
  }

  #main section p {
    font-size: 90%;
  }

  @media screen and (max-width: 588px) {
    #main section {
      width: 500px;
      margin: auto;
    }

    #main .payments {
      width: 120px;
    }

    #main .five_stars,
    #main .returns {
      width: 130px;
    }
    #main .padding_right {
      padding-left: 0 !important;
    }

    #main .top {
      margin-left: 8px;
      margin-top: 15px;
    }

    #main .returns p {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 510px) {
    #main section {
      width: 400px;
      margin: auto;
    }

    #main .active_sunglasses {
      width: 150px;
      height: 40px;
      line-height: 40px;
      font-size: 80%;
    }

    #main .active_eyeglasses {
      width: 150px;
      font-size: 80%;
      line-height: 40px;
      height: 40px;
    }

    #main h1 {
      font-size: 20px;
    }

    #main h2 {
      font-size: 90%;
    }

    #main section p {
      font-size: 70%;
    }

    #main .payments {
      width: 100px;
    }

    #main .five_stars,
    #main .returns {
      width: 110px;
    }

    #main .prescription p {
      font-size: 70%;
    }

    #main .returns p {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 410px) {
    #main section {
      width: 335px;
      margin: auto;
    }

    #main section p {
      font-size: 65%;
    }

    #main .active_sunglasses {
      width: 120px;
      height: 30px;
      line-height: 30px;
      font-size: 70%;
    }

    #main .active_eyeglasses {
      width: 120px;
      font-size: 70%;
      line-height: 30px;
      height: 30px;
    }
  }

  #main .prescription h5 {
    font-size: 60%;
    margin-top: 10px;
  }

  #main .prescription p {
    font-size: 55%;
  }

  #main .payments {
    width: 90px;
  }

  #main .five_stars,
  #main .returns {
    width: 100px;
  }

  #main .prescription {
    border-radius: 40px 0 40px 0;
  }

  #main .table .cell {
    padding: 0 5px;
  }
}
