body {
   background: url("/images/Heavyglare-Prescription-Polarized-Sunglasses.png") no-repeat center;
   font-family:  Helvetica, Helvetica, Arial, sans-serif;
   font-size: 100%;
   background-size: cover;
   margin: 0;
   color: #000000;
   height: 560px;
   padding: 0;
}

#main .image img {
    width: 100%;
}

.table {
    display: table;
    margin: auto;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.right {
    float: right;
}

#main h1 {
    margin: 0 0 10px 0;
    font-size: 45px;
}

#main h2 {
    color: #333333;
    margin: 10px 0 20px 0 ;
    font-size: 150%;
    text-align: center;
}

#main section {
    text-align: center;
    background: linear-gradient(20deg, #f4f8fc 0%, #e4ebf3 50%, #d7e1ef 100%);
    padding: 30px 30px 40px 30px;
    border-radius: 80px 0px 80px 0px;
}

#main section p {
    font-size: 120%;
    color: #424344;
    margin: 5px 0;
}

#main .active_sunglasses {
    background-color: #000000;
    border-radius: 50px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 49px;
    font-weight: 600;
    width: 250px;
    height: 49px;
    transition: 0.6s all;
}

#main .active_eyeglasses {
    background-color: #000000;
    border-radius: 50px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 49px;
    font-weight: 600;
    width: 250px;
    height: 49px;
    height: 49px;
    transition: 0.6s all;
}

#main .right {
    margin-top: 40px;
    padding-right: 40px;
    position: relative;
    z-index: 100;
}

#main .table {
    margin-top: 20px;
}

#main .table .cell {
    padding: 0 10px;
}

.show_active {
    background-color: #cc0000 !important;
   
}

.hide_active {
    background-color: #000000;
}

#main .prescription {
    background: rgba(253, 253, 253, 0.7);
    border-radius: 60px 0px 60px 0px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#main .prescription h5 {
    color: #333333;
    font-weight: bold;
    margin: 0;
    font-size: 90%;
}


#main .prescription p {
    margin: 0;
    font-size: 90%;
}

#main .payments p {
    margin-top: 5px;
}

#main .payments .table .cell, #main .returns .table .cell {
    padding: 0;
}

#main .prescription .table {
    margin-top: 0;
    padding-top: 20px;
}

#main .prescription .table .cell {
    vertical-align: top;
    text-align: center;
}

#main .payments {
    width: 187px;
    height: 88px;
}

#main .five_stars p {
    font-weight: bold;
}

#main .returns p {
    font-weight: bold;
}

#main .five_stars, #main .returns {
    width: 168px;
    height: 88px;
}

#main .padding_right {
    padding-left: 10px !important;
}

#main .top {
    margin-top: 8px;
}

#main .top_center {
    margin-top: 10px;
}

#main .payments, #main .five_stars, #main .returns {
    background-color: #ffffff;
    border-radius: 10px;
}

@media screen and (max-width: 740px) {
   #main {
    display: flex;
   }

   #main .right {

    padding-right: 0;
    margin: 40px  auto;
   }
  }

  @media screen and (max-width: 659px)  {
    #main section {
        padding: 20px 0px 30px 0px;
    }

    #main h1 {
        font-size: 30px;
    }

    #main h2 {
        font-size: 100%;
    }

    #main .active_sunglasses {
        width: 180px;
        font-size: 90%;

    }

    #main .padding_right {
        padding-left: 0 !important;
    }

    #main .top {
        margin-left: 8px;
        margin-top: 15px;
    }

    #main .active_eyeglasses {
        width: 180px;
        font-size: 90%;
    }

    #main section p {
        font-size: 90%;
    }

      #main .returns p {
            margin-top: 10px !important;
        

    @media screen and (max-width: 588px) {
        #main section {
            width: 500px;
            margin: auto;
        }

        #main .payments {
            width: 120px;
        }

        #main .five_stars, #main .returns {
            width: 130px;
        }
        #main .padding_right {
            padding-left: 0 !important;
        }

        #main .top {
            margin-left: 8px;
            margin-top: 15px;
        }

        #main .returns p {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 510px) {
        #main section {
            width: 400px;
            margin: auto;
        }

        #main .active_sunglasses {
            width: 150px;
            height: 40px;
            line-height: 40px;
            font-size: 80%;
    
        }
    
        #main .active_eyeglasses {
            width: 150px;
            font-size: 80%;
            line-height: 40px;
            height: 40px;
        }

        #main h1 {
            font-size: 20px;
        }
    
        #main h2 {
            font-size: 90%;
        }

        #main section p {
            font-size: 70%;
        }

        #main .payments {
            width: 100px;
        }

        #main .five_stars, #main .returns {
            width: 110px;
        }

        #main .prescription p {
            font-size: 70%;
        }

        #main .returns p {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 410px) {
        #main section {
            width: 335px;
            margin: auto;
        }

        #main section p {
            font-size: 65%;
        }

        #main .active_sunglasses {
            width: 120px;
            height: 30px;
            line-height: 30px;
            font-size: 70%;
    
        }
    
        #main .active_eyeglasses {
            width: 120px;
            font-size: 70%;
            line-height: 30px;
            height: 30px;
        }
    }

    #main .prescription h5 {
        font-size: 60%;
        margin-top: 10px;
    }

    #main .prescription p {
        font-size: 55%;
    }

    #main .payments {
        width: 90px;
    }

    #main .five_stars, #main .returns {
        width: 100px;
    }

    #main .prescription {
        border-radius: 40px 0 40px 0;
    }

    #main .table .cell {
        padding: 0 5px;
    }
  }
